#file: /opt/csitea/xls-to-rdbms/xls-to-rdbms.0.0.7.dev.ysg/src/bash/xls-to-rdbms/xls-to-rdbms.cnf 
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
run_unit=xls-to-rdbms

#the name of this application's db
db_name=dev_xls-to-rdbms


#eof file: /opt/csitea/xls-to-rdbms/xls-to-rdbms.0.0.7.dev.ysg/src/bash/xls-to-rdbms/xls-to-rdbms.cnf
