# file: src/bash/xls-to-rdbms/xls-to-rdbms.doc-pub-host.cnf
[MainSection]

#use simple var_name=var_value syntax 

#the name of this application 
app_name=xls-to-rdbms

# to whom to send e-mails - use space as delimiter
Emails=first_name.last_name@gmail.com

# this way each environment will se its respective db 
db="$env_type"_"$app_name"

# where to place the backups of the 
network_backup_dir=/vagrant/csitea/xls-to-rdbms/dat/zip

#eof file: src/bash/xls-to-rdbms/xls-to-rdbms.set-your-host.cnf
